@import 'vars';
@import 'reset';
@import 'mixins';
@import 'navigatie';

body {
    font-family: sans-serif;
    background: $hoofdkleur;
}


aside {
    background-color: $grey;
    grid-area: aside;
    
}
aside a:hover {
    background-color: $hover;
    color: white;
}

footer {
    background-color: $foot;
    grid-area: foot;
    color: white;
    text-align: center;
}
header{
    background-color: $foot;
    grid-area: kop;
    color: white;
}
header h1, p{
    margin-left: 5px;
}
section {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-bottom: .2em;
  }
  
  .nummer {
    background-color: rgb(196, 4, 4);
    color: white;
    font-size: 3em;
    width: 1.2em;
    text-align: right;
    padding: .2em;
  }
  section img {
    max-width: 100%;
  }
  @media
screen
and (min-width:
760px)
{
@import
'_tablet';
}

  
  
  
  